swagger: "2.0"
info:
  description: "Zum Zählen von Punkten beim Jassen"
  version: "1.0.0"
  title: "Schieber Tafel"
  termsOfService: ""
  contact:
    email: "jass@app.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "jass.app.io"
basePath: "/v1"
tags:
  - name: "game"
    description: "The game instance"
  - name: "round"
    description: "The round instance"
  - name: "user"
    description: "Operations about user"
schemes:
  - "https"
  - "http"
paths:
  /team:
    get:
      tags:
        - "team"
      summary: "get all teams"
      description: ""
      operationId: "getTeam"
      produces:
        - "application/json"
      responses:
        200:
          description: "All teams"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Team"
    post:
      tags:
        - "team"
      summary: "create new team"
      description: ""
      operationId: "createTeam"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Team to create"
          required: true
          schema:
            $ref: "#/definitions/Team"
      responses:
        201:
          description: "Team created"
          schema:
            type: "object"
            properties:
              id:
                type: "integer"
    put:
      tags:
        - "team"
      summary: "update team"
      description: ""
      operationId: "updateTeam"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Team to update"
          required: true
          schema:
            $ref: "#/definitions/Team"
      responses:
        200:
          description: "Team updated"
  /team/{teamId}:
    delete:
      tags:
        - "team"
      summary: "delete team"
      description: ""
      operationId: "deleteTeam"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "teamId"
          in: "path"
          description: "Team id to delete"
          required: true
          type: "integer"
          format: "int64"
      responses:
        204:
          description: "Team deleted"
  /game:
    post:
      tags:
        - "game"
      summary: "create new game"
      description: ""
      operationId: "createGame"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Game to create"
          required: true
          schema:
            $ref: "#/definitions/Game"
      responses:
        201:
          description: "Game created"
          schema:
            type: "object"
            properties:
              id:
                type: "integer"
        405:
          description: "Invalid input"
    get:
      tags:
        - "game"
      summary: "get all games"
      operationId: "getGame"
      produces:
        - "application/json"
      responses:
        200:
          description: "all games of the user"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/FullGame'
        405:
          description: "Invalid input"
  /game/{gameId}:
    get:
      tags:
        - "game"
      summary: "Find game by ID"
      description: "Returns a single game"
      operationId: "getgameById"
      produces:
        - "application/json"
      parameters:
        - name: "gameId"
          in: "path"
          description: "ID of game to return"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/FullGame"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Game not found"
    delete:
      tags:
        - "game"
      summary: "Delete game"
      description: ""
      operationId: "deleteGame"
      produces:
        - "application/json"
      parameters:
        - name: "gameId"
          in: "path"
          description: "Game id to delete"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "deletion was successfull"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Game not found"
    put:
      tags:
        - "game"
      summary: "Update game"
      description: ""
      operationId: "updateGame"
      produces:
        - "application/json"
      parameters:
        - name: "gameId"
          in: "path"
          description: "Game to update"
          required: true
          type: "integer"
          format: "int64"
        - in: "body"
          name: "body"
          description: "updated game"
          required: true
          schema:
            $ref: "#/definitions/Game"
      responses:
        200:
          description: "update was successfull"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Game not found"
  /game/{gameId}/round:
    post:
      tags:
        - "round"
      summary: "add round"
      description: "Add a round"
      operationId: "createRound"
      produces:
        - "application/json"
      parameters:
        - name: "gameId"
          in: "path"
          description: "ID of game"
          required: true
          type: "integer"
          format: "int64"
        - in: "body"
          name: "body"
          description: "new played Round"
          required: true
          schema:
            type: "object"
            properties:
              PointsPerTeamPerRound:
                type: "array"
                items:
                  type: "object"
                  properties:
                    teamId:
                      type: "integer"
                      format: "int64"
                    points:
                      type: "integer"
                    wiisPoints:
                      type: "integer"
              trumpfId:
                type: "integer"
                format: "int64"
      responses:
        201:
          description: "Round created"
          schema:
            type: "object"
            properties:
              id:
                type: "integer"
        400:
          description: "Something was wrong"
        500:
          description: "Server error"
  /game/{gameId}/{roundId}:
    put:
      tags:
        - "round"
      summary: "update round"
      description: ""
      operationId: "updateRound"
      produces:
        - "application/json"
      parameters:
        - name: "gameId"
          in: "path"
          description: "ID of game"
          required: true
          type: "integer"
          format: "int64"
        - name: "roundId"
          in: "path"
          description: "ID of round"
          required: true
          type: "integer"
          format: "int64"
        - name: "body"
          in: "body"
          description: "updated Round"
          required: true
          schema:
            $ref: '#/definitions/Round'
      responses:
        200:
          description: "successfully updated round"
        400:
          description: "round update did not work"
    delete:
      tags:
        - "round"
      summary: "delete round"
      operationId: "deleteRound"
      parameters:
        - name: "gameId"
          in: "path"
          description: "ID of game"
          required: true
          type: "integer"
          format: "int64"
        - name: "roundId"
          in: "path"
          description: "ID of round"
          required: true
          type: "integer"
          format: "int64"
      responses:
        204:
          description: "successfully deleted round"
        400:
          description: "Invalid game or round id"
definitions:
  Team:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
  Trumpf:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      multiplier:
        type: "integer"
  Round:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      trumpfId:
        type: "integer"
        format: "int64"
      pointsPerTeamPerRound:
        type: "array"
        items:
          $ref: "#/definitions/PointsPerTeamPerRound"
  PointsPerTeamPerRound:
    type: "object"
    properties:
      wiisPoints:
        type: "integer"
        format: "int64"
      points:
        type: "integer"
        format: "int64"
      teamId:
        type: "integer"
        format: "int64"
  Game:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      isFinished:
        type: "boolean"
        default: false
      teams:
        type: "array"
        items:
          $ref: "#/definitions/Team"
  FullGame:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      isFinished:
        type: "boolean"
        default: false
      teams:
        type: "array"
        items:
          $ref: "#/definitions/Team"
      rounds:
        type: "array"
        items:
          $ref: "#/definitions/Round"




