swagger: "2.0"
info:
  description: "Zum Zählen von Punkten beim Jassen"
  version: "1.0.0"
  title: "Schieber Tafel"
  termsOfService: ""
  contact:
    email: "jass@scheissegal.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "jass.scheissegal.io"
basePath: "/v1"
tags:
- name: "game"
  description: "The game instance"
- name: "round"
  description: "The round instance"
- name: "user"
  description: "Operations about user"
schemes:
- "https"
- "http"
paths:
  /game:
    post:
      tags:
      - "game"
      summary: "create new game"
      description: ""
      operationId: "createGame"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Game to create"
        required: true
        schema:
          $ref: "#/definitions/Game"
      responses:
        201:
          description: "Game created"
          schema:
            type: "object"
            properties:
              id:
                type: "integer"
        405:
          description: "Invalid input"
    get: 
      tags: 
      - "game"
      summary: "get all games"
      operationId: "getGame"
      produces: 
      - "application/json"
      responses:
        200: 
          description: "all games of the user"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Game"
        405:
          description: "Invalid input"
  /game/{gameId}:
    get:
      tags:
      - "game"
      summary: "Find game by ID"
      description: "Returns a single game"
      operationId: "getgameById"
      produces:
      - "application/json"
      parameters:
      - name: "gameId"
        in: "path"
        description: "ID of game to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Game"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Game not found"
    delete:
      tags:
      - "game"
      summary: "Delete game"
      description: ""
      operationId: "deleteGae"
      produces:
      - "application/json"
      parameters:
      - name: "gameId"
        in: "path"
        description: "Game id to delete"
        required: true
        type: "integer"
        format: "int64"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Game not found"
  /game/{gameId}/round:
    post:
      tags:
      - "round"
      summary: "add round"
      description: ""
      operationId: "createRound"
      produces:
      - "application/json"
      parameters:
      - name: "gameId"
        in: "path"
        description: "ID of game"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "new played Round"
        required: true
        schema:
          type: "object"
          properties:
            game:
              type: "array"
              items:
                type: "object"
                properties:
                  teamId:
                    type: "integer"
                    format: "int64"
                  points: 
                    type: "integer"
            trumpf: 
              $ref: '#/definitions/Trumpf'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Round'
        400:
          description: "Invalid status value"
  /game/{gameId}/{roundId}: 
    put:
      tags:
      - "round"
      summary: "update round"
      description: ""
      operationId: "updateRound"
      produces:
      - "application/json"
      parameters:
      - name: "gameId"
        in: "path"
        description: "ID of game"
        required: true
        type: "integer"
        format: "int64"
      - name: "roundId"
        in: "path"
        description: "ID of round"
        required: true
        type: "integer"
        format: "int64"
      - name: "body"
        in: "body"
        description: "updated Round"
        required: true
        schema:
          $ref: '#/definitions/Round'
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid status value"
    delete: 
      tags: 
      - "round"
      summary: "delete round"
      operationId: "deleteRound"
      parameters:
      - name: "gameId"
        in: "path"
        description: "ID of game"
        required: true
        type: "integer"
        format: "int64"
      - name: "roundId"
        in: "path"
        description: "ID of round"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid game or round id"
definitions:
  Team:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      hundreds: 
        type: "integer"
      fifties: 
        type: "integer"
      twenties: 
        type: "integer"
      rest: 
        type: "integer"
  Trumpf:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      multiplier: 
        type: "integer"
  Round:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      trumpf:
        $ref: '#/definitions/Trumpf'
      teams:
        type: 'array'
        items: 
          $ref: '#/definitions/Team'
  Game:
    type: "object"
    required:
    - "name"
    - "photoUrls"
    properties:
      id:
        type: "integer"
        format: "int64"
      teams:
        type: "array"
        items:
          $ref: "#/definitions/Team"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"