.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.viewWrapper {
    margin: 0 20%;
}
.viewWrapper h1{
    text-align:center;
}
.viewWrapper h2{
    text-align:center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.gameCard {
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.gameBoardWrapper{
    display: flex;
    flex-direction: row;
}

.gameBoardInnerWrapper{
    display:flex;
    flex-direction: column;
}

.dashboardCardWrapper{
    margin:5px 15px;
    display:flex;
    flex-direction:column;
}
.dashboardCardInnerWrapper{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.dashboardCardWrapper h1, h2, h3{
    text-align: center;
}
.headerButton{
    background-color:greenyellow!important;
    color:pink;
    margin-right: 10px!important;
}
.headerLink{
    background-color:transparent;
    color:black;
    text-decoration:none;
}